<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModal"
(click)="addClick()" data-backdrop="static" data-keyboard="false">
    Add Category
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-edit [cat]="cat" *ngIf="ActivateAddEditCatComp"></app-add-edit>
          ...
        </div>       
      </div>
    </div>
  </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>CategoryId</th>
            <th>Category</th>
            <th>Options</th>
            <th>Filter</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of CategoryList">
            <td>{{dataItem.CategoryId}}</td>
            <td>{{dataItem.CategoryName}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1"  data-toggle="modal" data-target="#exampleModal"
                (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false">Edit</button>
                <button type="button" class="btn btn-light mr-1">Delete</button>
            </td>
            <td>
                <button type="button" class="btn btn-light mr-1"  data-toggle="modal" data-target="#exampleModal"
                (click)="showProductRangeClick(dataItem)" data-backdrop="static" data-keyboard="false"> All SKU's in the range {{dataItem.CategoryId}}xxx</button>
            </td>
        </tr>
    </tbody>
</table>